*.iml
.gradle
.kotlin
gradle-app.setting
.gradletasknamecache
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx

build/
out/
xcuserdata/
Pods/
*.xcworkspacedata
*.xcuserstate
*.xcscheme
xcschememanagement.plist
*.xcbkptlist
/kotlin-js-store/yarn.lock
/composeApp/src/jsMain/resources/index.html
